@keyframes title-animation {
    0% {
        letter-spacing: 0px;
    }
    50% {
        letter-spacing: 10px;
    }
    100% {
        letter-spacing: 0px;
    }
}

body {
    background-color: #0a0a0a;
    margin: 0;
}

.container {
    width: 100%;
    display: flex;
    color: white;
}

.advert-banner {
    background-color: #202020;
    width: 15%;
}

.main-site {
    flex: 1;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game {
    display: grid;
    gap: 20px;
    padding-top: 2%;

    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px;
}

.game-title {
    color: white;
    font-size: 50px;
    margin: 0;
    margin-bottom: 15px;
    animation: title-animation 2s;
}

.game-info {
    color: white;
    font-size: 20px;
    margin: 0;
    margin-bottom: 30px;
}

.games-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.game-button {
    display: flex;
    width: 550px;
    margin-top: 10px;
    border: 0;
    padding: 7px;
    letter-spacing: 1px;
    color: white;
    background-color: black;
    border: 1px solid white;
}

.game-button:hover {
    background-color: #202020;
}

.game-button > img {
    height: 100px;
    width: 100px;
}